body {
  background-image: linear-gradient(to right,
      #ffb6c1,
      #ffffe0,
      #ffc0cb);
}

#title {
  color: red;
  text-align: center;
  font-size: 50px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

/* MOVING HEART */
.moving_heart {
  position: absolute; /* posición absoluta para poder mover el elemento */
  top: 0; /* coloca el elemento en la parte superior de la pantalla */
  left: 0; /* coloca el elemento en la parte izquierda de la pantalla */
  cursor: pointer; /* cambia el cursor cuando el usuario pasa el mouse por encima del elemento */
  transition: transform 0.5s ease; /* agrega una transición cuando el elemento cambie de tamaño */
}

#message_moving_heart {
  display: none; /* oculta el mensaje */
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}


#heart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heart {
  width: 150px;
  height: 150px;
}

#letter-container {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: pink;
  border: 4px solid red;
  border-radius: 20px;
}

#letter-text {
  text-align: center;
}

#all-letter-container {
  position: absolute;
  top: 50%;
  right: 72%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: pink;
  border: 4px solid red;
  border-radius: 20px;
}

#all-letter-text {
  text-align: center;
}

#counter-icon {
  position: absolute;
  bottom: 5%;
  left: 45%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  cursor: pointer;
}

#loveLetter-icon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  cursor: pointer;
}

#pencil-icon {
  position: absolute;
  bottom: 5%;
  left: 55%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  cursor: pointer;
}